body, html {
    margin: auto;
    padding: 0;
    height: 100%;
    width: 1020px;
    scroll-behavior: smooth;
    
}
.SimgolO_logo {
color: #ffffff;
margin: 0px 0px 0px 40px;
line-height: 90px;
font-size: 26px;


}
.logo__star {
  color: #f06c64;
}
.head_start {
    background-color: #2d303a;
    height: 89px;
}
.head_line {
    background-color: #323746;
    height: 6px;
}
.slider___111 {
    height: 594px;
    background-color: #f06c64;
}
.slider_line {
    height: 6px;
    background-color: #ea676b;
}
.portfolio_block {
    height: 864px;
    background-color: #464b5e;
}
.portfolio_line {
    height: 6px;
    background-color: #323746;;
}
.about_block {
    height: 729px ;
    background-color: #f2f2f2;
}
.about_line {
    height: 6px;
    background-color:#ffffff;
}
.contact_block {
    height: 648px;
    background-color: #f06c64;;
}   
.contact_line {
    height: 6px;
    background-color: #ea676b;;
}
.contact_footer {
    height: 76px;
    background-color: #2d303a;
}
.menu {
    width: 1020px;
   background-color:  #2d303a3a;
    
    position: fixed;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#menu-center {
    width: 980px;
    height: 75px;
    margin: 24px 0 0 570px;
}
#menu-center ul li {
    
    margin: 0 25px 0 0;
    display: inline;
    
}
.active {
    font-family: "lato", sans-serif;
    font-size: 12px;
    color: #f06c64;
    text-decoration: none;
    line-height: 50px;
}
a {
    font-family: "lato", sans-serif;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    line-height: 50px;
}
section, section>div {
    height: 100%px;
    width: 100%;
}
#home {
    background-color:gray;
    overflow: hidden;
    height: 1195px;
  
}
#portfolio {
    background-color:  #5a9c81;
    height: 1693px;
}
#services {
    background-color:  #f2f2f2;;
    height: 589px;
    margin: -500px 0px 0px 0px;
}
#about {
    background-color: rgb(64, 64, 226);
    height: 734px;
    margin: -823px 0px 0px 0px;
}
#contact {
    
    margin: 0px 0px 0px 0px;
    height: 819px;
}

/* Слайдер */
.slider {
    position: relative;
    overflow: hidden;
  }

  .slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
  }

  .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  @media (min-width: 1020px) {
    .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .slider__control {
    position: absolute;
    top: 50%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    
  }

  .slider__control:hover,
  .slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
  }

  .slider__control_left {
    left: 30px;
    
    
  }

  .slider__control_right {
    right: 28px;
  }

  .slider__control::before {
    content: '';
    display: inline-block;
    width: 27px;
    height: 27px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  .slider__control_left::before {
    background-image: url("./assets/images/chev1.svg");
  }

  .slider__control_right::before {
    background-image: url("./assets/images/chev3.svg");
  }

  .slider__item>div {
    line-height: 250px;
    font-size: 100px;
    text-align: center;
  }
  .iPhone__Vertical {
    margin: 52px 48px 0 0px;
  }
  .iPhone__Horizontal {
    margin: 0px 0px 122px 0px;
  }
  #image__1 {
      position: absolute;
      top: 118px;
      left: 126px;
      cursor: pointer;
  }
  #image__2 {
    position: absolute;
    top: 187px;
    left: 485px;
    cursor: pointer;
}