body,
#body {
width: 1020px;
margin: 0 auto; 
margin-left: auto;
position: relative;    
}
.header {
height: 89px;
background-color: #2d303a; 
display: block;  
}
li {
color: #494e62;
    
    
}
ul {   
margin: 0;    
}
.logo {   
font-size: 25px;

color: #ffffff;
font-weight: 400;
font-family: 'Lato', sans-serif;
position: absolute;
top: 8.5px;
left: -515px;
}



.menu__nav{
float: left;
padding-left: 0%;
margin: 14.5px;
}


a#text_color {
    color:  #ffffff; 
    text-decoration: none;
    
    }

    a#text_color:hover {
    color: #f06c64;
     }



.navigation {
font-size: 12px;
line-height: 6px;
    
font-family: 'Lato', sans-serif;
font-weight: 400;
position: absolute;
top: 32px;
left: 555px;
}
span,
#orange_color {
color: #f06c64;  
}
span,
#white_color {
color: #ffffff;  
}
.header__bottom {
height: 6px;
background-color: #323746;
}   
#text_color {
color: #ffffff; 

}
.slider {
width: 1020px;
height: 594px;
background-color: #f06c64;

} 
.iPhone__Vertical {
position: absolute;
top: 78px;
left: -1px;
padding-left: 111px;
}

.iPhone__Horizontal {
position: absolute;
top: 164px;
left: 249px;
padding-left: 111px;
}


i.arrow__left {
    background: url(./assets/images/chev1.svg); 
    position: absolute;
    top: 376px;
    left: 42px;
    width: 16px; 
    height: 27px;
    }

i.arrow__left:hover {
    background: url(./assets/images/chev2.svg)
     }
     
i.arrow__right {
    background: url(./assets/images/chev3.svg); 
    position: absolute;
    top: 376px;
    right: 40px;
    width: 16px; 
    height: 27px;
    }

i.arrow__right:hover {
    background: url(./assets/images/chev4.svg)
     }



.bottom__bottom {
height: 6px;
background-color: #ea676b;
}

.Our__services {
height: 206px;
background-color: #f2f2f2;
}

.h1_text {
font-size: 30px;
line-height: 18px;
color: #666d89;
font-family: 'Lato', sans-serif;
font-weight: 900;
position: absolute;
top: 743px;
left: 40px;
}

.p__text {
width: 940px;
height: 57px;
font-size: 18px;
line-height: 30px;
color: #767e9e;
font-family: 'Lato', sans-serif;
font-weight: 300;
width: 940px;
position: absolute;
top: 790px;
left: 40px;
}

.flex__container {
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    
}

.flex__container > div {
    
    width: 340px;
    height: 122px;
    margin: 0px;
    text-align: left;
    
    
    vertical-align: top;
    
}
p {
    
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-block-end: -0.5em;
    word-spacing: 1px;
} 
.cus {

font-size: 18px;
line-height: 21px;
color: #666d89;
font-family: 'Lato', sans-serif;
font-weight: 900;
word-spacing: 0px;
}
i.Pen {
    position: absolute;
    top: 914px;
    left: 40px;
}
i.Bulb {
    position: absolute;
    top: 914px;
    left: 359px;
}
i.Heart {
    position: absolute;
    top: 914px;
    left: 679px;
}
i.Phone {
    position: absolute;
    top: 1037px;
    left: 40px;
}
i.Bubble {
    position: absolute;
    top: 1037px;
    left: 359px;
}
i.Star {
    position: absolute;
    top: 1037px;
    left: 679px;
}
.Services__bottom {
    height: 6px;
    background-color: #ffffff;
}